button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}
.generate-button {
	width: 170px;
	border: 1px solid rgb(9, 159, 109);
	background-color: rgb(9, 159, 109);
}

.generate-button:hover {
	background-color: rgb(9, 135, 93);
}

.hideshow-pass {
	margin-right: 10px;
}
.copy-pass {
	margin-left: 10px;
}
.hideshow-pass,
.copy-pass {
	width: 70px;
	border: 1px solid rgb(194, 102, 9);
	background-color: rgb(194, 102, 9);
}

.hideshow-pass:hover,
.copy-pass:hover {
	background-color: rgb(145, 75, 5);
}
